* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --dark-blue-footer: hsl(216, 53%, 9%);
  --dark-blue-testimonials: hsl(219, 30%, 18%);

  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);

  --white: hsl(0, 0%, 100%);
}

/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/raleway-v28-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/raleway-v28-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fontsopen-sans-v35-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fontsopen-sans-v35-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: var(--dark-blue);
  min-height: 100vh;
}

main {
  padding: 1.5rem 1.25rem;
}

img {
  width: 100%;
}

#background {
  position: absolute;
  top: 50%;
}

nav {
  font-family: "Raleway";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  max-width: 5rem;
  display: flex;
  align-items: center;
}

nav ul {
  padding-right: 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

li a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.75rem;
}
